* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 3vh;
  font-weight: 700;
}

body {
  background-color: #f9f9f9;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  color: black;
  border: none;
  background-color: #82a6fe;
  box-shadow: 0 0.6vh 0 #6286de;
  margin: 0.5vh 0.3vh;
}

button:active {
  background-color: #6286de;
  box-shadow: 0 0.6vh 0 #82a6fe;
}

#calculator {
  height: 80vh; width: 60vh;
  margin: 1vh auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(4, 15vh);
  grid-template-rows: repeat(5, 1fr);
}

#calculator>* {
  /* border: 1px solid red; */
}

#display-box {
  height: 14vh;
  cursor: default;
  text-align: right;
  padding: 1vh 1vh 0 1vh;
  margin: 0 0.3vh;
  background-color: #dfdfdf;
  overflow-x: scroll;
}

#display-operation {
  line-height: 3vh;
  height: 40%;
  font-size: 2vh;
}

#display {
  line-height: 6vh;
  height: 60%;
  font-size: 6vh;
  bottom: 0;
}

#clear {
  grid-area: 1 / 1 / span 1 / span 2;
}

#backspace {
  background-image: url(../images/bkspc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4vh;
}
